@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-body {
  @apply max-w-none mx-auto py-4;
}

body {
  font-family: "Pretendard";
}

code {
  font-family: "Courier New", Courier, monospace;
  background-color: #f0f0f0;
  padding: 2px 4px;
  border-radius: 4px;
}

pre {
  background-color: #f6f8fa;
  border-radius: 6px;
  padding: 16px;
  overflow-x: auto;
}

pre code {
  background-color: transparent;
  padding: 0;
}

blockquote {
  border-left: 4px solid #dfe2e5;
  color: #6a737d;
  padding-left: 16px;
  margin: 0;
  margin-bottom: 16px;
}

.markdown-body {
  color: #24292e;
}
